@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-weight: 700;
  font-size: 20px;

  color: black;
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75em;
  width: 100%;

  @media only screen and (min-width: 600px) {
    width: fit-content;
    justify-content: start;
  }
}

.inputGroup > label {
  font-weight: 600;
  min-width: 65px;

  @media only screen and (min-width: 600px) {
    min-width: fit-content;
  }
}

.inputGroup > input {
  height: 1.75em;
  border-radius: 0.25em;
  width: 100%;
  align-items: center;
  display: flex;

  @media only screen and (min-width: 600px) {
    width: 10em;
  }
}

.inputGroupButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
  width: 100%;

  @media only screen and (min-width: 600px) {
    width: fit-content;
    justify-content: start;
  }
}
